################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/node_modules
/.vs
/delta-surf-231701-57cc41c3f169.json
